.half-width{

    margin-left: 50px;
    margin-top: 40px;
    width: 40%;
    float: left;
     
}
h1{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
   color: #FF8367;
    
}
p{
    width: 50%;
   

font-weight: 300;

font-size: 16px;
color:black;

}
.orange-highlight{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(lightsalmon,tomato);
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 10px;
    size:16px;
    font-weight: 500;
  
    
}

.h11{
    color: #363958;

}
.img1{
    width: 40%;
    margin-top: 100px;
    margin-left: 20px;
    border-radius:250px;

}
.img2{
    width: 100%;
}
.and{
    margin-top: 130px;
    margin-left: 150px;
}
.about{
    font-family: Bebas Neue;
    color: #363958;
    font-size: 30px;
    text-align: left;
}
.second-section{
    margin-bottom: 700px;
}

.experience-area{

background-color: whitesmoke;

height: 650px;



}
.onethird{
    margin-left: 8%;
    height:55%;
    width: 25%;
    
    float: left;
    background-color: white;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
    margin-top: 80px;
    
    
}
.onethird img{
    width: 100%;
    border-radius: 15px;
}
h3{
    text-align: center;
    font-family: Roboto;
    color: #363958;
    font-weight: bold;
 
}
.expara{
    text-align: center;
    margin-left: 70px;
    color: #6C6C6C;
}
#h22{
    color: #FF8367;
    
}
.h223{
    color: #363958;

}
.thirdsection{
    height: 200px;
}

.image-container{
    height: 400px;
    width: 50%;
    margin-left: 25%;
  


}
.image-container img{
    width: 100%;
    margin-top: 10px;
}


.bt1{
    background-position: center;
    margin-left: 40px;
}
.education{
    height: 200px;
}
  

.edu{
    float: left;
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
    margin-top: 80px;
   
    height: 300px;
    margin-left:100px ;
    

}
.vetore{
    margin-left: 20px;
    color:tomato;

}
ul{
    font-weight: bold;
    
    
}
.fot{
    margin-top: 500px;
  
}
.h44{
    text-align: center;
    color: grey;
    font-family: Bebas Neue;
}
    






  


